{% block stylesheets %}
        <link rel="stylesheet" href="/css/punch.css">
{% endblock %}

{% set url = path('punchs_show', {'id' : punch.id}) %}

<a href="{{ url }}" style="text-decoration: none;">

    <div class="card disabled col-md-8 p-0 text-center m-2 punch-cards">
        <div class="card-header d-flex text-success px-5">
            <p class="mb-0">{{punch.theme|capitalize}}</p>
            <p class="ms-auto mb-0">{{punch.author.username|capitalize}}</p>
        </div>
        <div class="card-body p-1">

            <h5 class="card-text p-2 text-white">{{punch.content|capitalize}}</h5>
            <a href="{{ url }}" class=" btn btn-secondary m-1 py-1 p-2 text-white">Afficher</a>
            {% if app.user and app.user == punch.author %}
            <a href="{{ path('punchs_edit', {'id': punch.id}) }}" class="btn btn-secondary m-1 py-1 p-2">Modifier</a>
            {% endif %}
        </div>
        <div class="card-footer d-flex ">
            <small class="text-success">{{punch.date|date("d/m/Y")}}</small>

            {% if punch.comments|length > 0 %}
                <div class="ms-auto">
                {% include 'partials/rating.html.twig' with {'rating': punch.avgRatings} %}
                </div>
            {% else %}
                <small class="ms-auto  text-warning">Pas encore noté</small>
            {% endif %}


        </div>


    </div>

</a>