{% extends 'base.html.twig' %}

{% block title %}Les punch'{% endblock %}

{% block body %}
<div class="container">
<h1 class="text-center text-dark mt-2">Liste des punch' des behloul</h1>

<div class="row justify-content-center ">
{% for punch in punchs %}
    {% set url = path('punchs_show', {'id' : punch.id}) %}

    <a href="{{ url }}">
        <div class="card bg-secondary disabled col-md-8 p-0 text-center m-2 punch-cards">
            <div class="card-header p-1 text-warning">
                {{punch.theme|capitalize}}
            </div>
            <div class="card-body p-1">
                <h5 class="card-text p-2 text-dark">{{punch.content|capitalize}}</h5>
                <a href="{{ url }}" class="btn btn-warning disabled py-1 px-1 text-dark">Afficher</a>
            </div>
            <div class="card-footer p-1">
                <small class="ms-auto text-dark">{{punch.date|date("d/m/Y")}}</small>
            </div>
        </div>
    </a>

{% endfor %}
</div>
</div>
{% endblock %}
