{% extends 'base.html.twig' %}

{% block title %}Wééé{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="/css/punchline_show.css">
{% endblock %}

{% block body %} 

<div class="punchView mt-5 ">
    <div class="row col-12 text-center justify-content-center">
        <div class="col-8 border m-2">
            <h1 class="text-dark">{{punch.theme}}</h1>
            <p class="text-dark">{{punch.content}}</p>
            <small class="textdarke">{{punch.date|date("d/m/Y")}}</small>
            <a href="{{ path('punchs_index') }}" class="btn btn-primary m-3">Retour</a>
        </div>
    </div>

    <div class="row col-12 text-center justify-content-center">
        {% set p = punch.author %}
        <div class="col-8 border m-2 text-dark">
    {# <div class="row mb-3 align-items-center"> #}
        {# <div class="col-4">
            <img src="" alt="">
        </div>  #}
    <div class="img">
        <a href="{{ path('user_show', {'id': p.id})}}">
            <img src="{{p.picture}}" class="avatar avatar-medium m-3" alt="Avatar de la personne">
        </a>
    </div>
        <a href="{{ path('user_show', {'id': p.id})}}">
            <h3>{{p.username | capitalize}}</h3>
        </a>
            <span class=""> Nombre de punchs: {{p.punches | length}}</span>
            <p>Description: {{p.description}}</p>
        </div>
</div>

{% endblock %} 
