{% extends 'base.html.twig' %}

{% block title %}Wééé{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="/css/punchline_show.css">
{% endblock %}

{% block body %} 

<div class="punchView text-white mt-5 ">
    <div class="row col-12 text-center justify-content-center">
        <div class="col-8 border rounded bg-primary m-2">
            <h1 class="">{{punch.theme|capitalize}}</h1>
            <p class="">{{punch.content|capitalize}}</p>
            <small class="textdarke">{{punch.date|date("d/m/Y")}}</small>
            <a href="{{ path('punchs_index') }}" class="btn btn-secondary m-3">Retour</a>

            {% if app.user and app.user == punch.author %}
            <a href="{{ path('punchs_edit', {'id': punch.id}) }}" class="btn btn-warning m-3">Modifier</a>

            <a href="{{ path('punchs_delete', {'id': punch.id}) }}" class="btn btn-danger m-3" onclick="return confirm(`Tu veux vraiment supprimer cette punch bien fatch?`)">Supprimer</a>

            {% endif %}
        </div>

        {% if punch.comments|length > 0 %}
            <h2 class="mb-3">Commentaire des punchlinerz :</h2>

            <div class="alert alert-info">
              <h4 class="alert-heading">
              <div class="row col-12 align-items-center">
              <div class="col">
                Note globale des punchlinerz 
              </div>
              <div class="col">
                {% include 'partials/rating.html.twig' with {'rating': punch.avgRatings} %}
                <br>
                <small>(Calculée sur {{punch.comments|length}} punchlinerz)</small>
              </div>
              </div>
              </h4>
            </div>

            {% for comment in punch.comments %}
                <div class=" col-10 bg-secondary rounded mb-3 py-3 px-3">
                    <strong>{{comment.author.username|capitalize}}</strong> :
                    <blockquote>
                        {{comment.content|capitalize}}
                    </blockquote>
                    <strong>Note de {{comment.author.username|capitalize}} :</strong>
                    {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                </div>
            {% endfor %}
        {% else %}
            <h2>Cette punch n'a pas encore été commenté...</h2>
        {% endif %}
    </div>

    <div class="row col-12 text-center justify-content-center">
        {% set p = punch.author %}
        <div class="col-8 bg-secondary border m-2 text-white">

    <div class="img">
        <a href="{{ path('user_show', {'id': p.id})}}">
            <img src="{{p.picture}}" class="avatar avatar-medium m-3" alt="Avatar de la personne">
        </a>
    </div>
        <a href="{{ path('user_show', {'id': p.id})}}">
            <h3>{{p.username | capitalize}}</h3>
        </a>
            <span class=""> Nombre de punchs: {{p.punches | length}}</span>
            <p>Description: {{p.description}}</p>
        </div>
</div>

{% endblock %} 
