{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
        <link rel="stylesheet" href="/css/admin/admin_index.css">
{% endblock %}

{% block title %}Administration des commentaires{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="text-center my-5">Gestion des commentaires</h2>

    <table class="table table-hover text-center">
        <thead>
            <tr>
              <th class="col-1">Id</th>
              <th class="col-1">Date</th>
              <th class="col-1">Auteur</th>
              <th class="col-5">Contenu</th>
              <th class="col-2">Actions</th>
            </tr>
        </thead>

        <tbody>
          {% for comment in comments %}
          <tr>
            <td class="align-middle">{{comment.id}}</td>
            <td class="align-middle">{{comment.createdAt|date("d/m/Y")}}</td>
            <td class="align-middle">
              <img src="{{comment.author.picture}}" alt="Avatar de {{comment.author.username}}" class="avatar avatar-micro me-2">
              {{comment.author.username|capitalize}}
            </td>
            <td class="align-middle">{{comment.content}}</td>
            <td class="align-middle">
              <span class="badge badge-secondary">{{comment.rating}}</span>
            </td>
            <td>
              <a href="{{ path('admin_comments_edit', {'id': comment.id}) }}" class="btn btn-primary mx-2"><i class="bi bi-pencil-square "></i></i></a>
              <a href="{{ path('admin_punchs_delete', {'id': comment.id}) }}" class="btn btn-danger mx-2"><i class="bi bi-trash "></i></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
